.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.img1:hover{
    transform: scale(1.1);
}

.img1{
    width: 7%;
    height: 80px;
    border-radius: 100%;
    margin: 10px;
    position: relative;
    top :250px;
    right: 40px;
    border: 2px solid #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    
}
#Hthree1{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top:510px;
    right:230px

}
#H11{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top:375px;
    right:px


}
#h12{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top:470px;
    right:100px

}
#h13{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top:430px;
    right:-150px
   
}
#h14{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top:393px;
    right:-25px;
}
#mim{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: relative;
    top:-90px;
    right: 40px;
    }

    body{
        background-image:'../AllPics/39.png'; 
        background-repeat: no-repeat, repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        }
    .box{
        display: flex;
        justify-self: center;
        align-items: center;
        font-weight: bold;
        font-size:  3rem;
        position: relative;
        width: 400px;
        height: 400px;
        background-color: white;
        border: 1px solid rgba(59, 58, 58, 0.46)    
    }