body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: #ffffff ;
}
nav ul{
    margin:0 ;
    padding: 0;
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
}
nav ul li {
    list-style: none;
   
}
nav ul li a{
    display: block;
    font-family: montserrat;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    position: relative;
    padding: 25px 0 25px 25px;
    top:60px;
    box-shadow: 6px 6px 29px -4px black;
    margin: 10px;

}
nav ul li a:before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
    
}

nav ul li a:hover {
    color: #92218c;
   
}
nav ul li a:hover:before{
    width: 95%;
    
}

#Logo {
    max-width: 350px; 
    height: auto;
    object-fit: cover;
    transition: .2s linear;
    cursor: pointer;

}
#logo-container {
    position: fixed;
    top: 0;
    left: 1190px;
    padding: 1px;
    background-color: transparent;
    z-index: 10%;
    width: 10px;
}


.haykel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.haykel{
    width: 6%;
    height: 60px;
    border-radius: 100%;
    margin: 10px;
    position: relative;
    top :250px;
    right: -300px;
    border: 2px solid #000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 6px 6px 29px -4px black;
    background-color: #fff;
    
}

#Haykel{
    color: #fff;
}


#AddStudent {
    position: relative;
    top:320px;
    left:70px;
    color: #fff;
    cursor: pointer;
}



.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 29px -4px black;
    text-align:center;
}

.popup-content {
    height: 300px;
    width: 550px;
    background: #fff;
    top:-65px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 6px 6px 29px -4px black

}
.close{
    max-width: 20px;
    position: relative;
    left:300px;
    bottom: 85px;
    cursor: pointer;
}

#button{
    position: relative;
    top: 180px;
    background-color: #FF66C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 80px;
    cursor: pointer;
    box-shadow: 6px 6px 29px -4px black;
    max-width: -100px;
}


.DateOfBirth{
    position: relative;
    top: 100px;
    left: -50px;
}
.FirstName{

}

table{
    border-collapse: collapse;
    width:63%;
    margin: 50px auto;
    background-color: darkgray;
}

table, th ,tr{
    border: 2px solid black;
    padding: 10px;
}

th {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial;
}

#logout{
    max-width: 50px;
    position: relative;
    left:-935px;
    bottom: 65px;
    cursor: pointer;
}
#Haykel{
    position: relative;
    top:    30px;
    right: -50px;
}
